/* Metro Theme Author: Michael Martin-Smucker */
body {
  font-family: "Segoe UI", "Open Sans", sans-serif;
}
#panel {
  background: #f2f2f2;
  color: #000;
}
#panel #brand {
  display: none;
}
#panel nav {
  left: 0;
}
#panel nav ul li {
  font-size: 17px;
  height: 40px;
  text-transform: lowercase;
  -webkit-transition: background 120ms linear;
}
#panel nav ul li:hover {
  background: rgba(0, 0, 0, 0.3);
}
#panel nav ul li#addBTN {
  padding-left: 10px;
}
#panel nav ul li span {
  display: block;
  float: left;
  margin-top: 9px;
}
#panel nav ul li .icon {
  display: inline-block;
  height: 30px;
  margin: 4px;
  width: 30px;
}
#panel nav ul li .icon.add {
  background: url(../../images/darksprite.png) no-repeat;
}
#panel nav ul li .icon.edit {
  background: url(../../images/darksprite.png) no-repeat 0 -40px;
}
#panel nav ul li .icon.delete {
  background: url(../../images/darksprite.png) no-repeat 0 -78px;
  margin: 4px 2px;
}
#panel #right ul li#syncBTN img {
  background: url(../../images/sync_dark.gif) no-repeat 8px 5px;
}
#panel #right ul li#syncBTN.active img {
  background: url(../../images/sync_active_dark.gif) no-repeat 8px 5px;
}
#panel #right ul li#syncBTN.running img {
  background: url(../../images/sync_running_dark.gif) no-repeat 8px 5px;
}
#panel #right ul li#logbookBTN img {
  background: url(../../images/darksprite.png) no-repeat 5px -118px;
}
#panel #right ul li#settingsBTN img {
  background: url(../../images/darksprite.png) no-repeat 5px -158px;
}
#panel #right ul li img {
  height: 30px;
  width: 30px;
}
#panel #right ul li .settings {
  background: rgba(51, 51, 51, 0.95);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0 1px 19px rgba(0, 0, 0, 0.35), inset 0 0 1px rgba(255, 255, 255, 0.2);
  margin-left: -185px;
  top: 50px;
  width: 300px;
}
#panel #right ul li #search {
  background: #ffffff url(../../images/whitesprite.png) no-repeat 5px -364px;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 13px;
  margin-left: 7px;
  padding: 4px;
  padding-left: 23px;
  position: relative;
  -webkit-transition: 200ms ease width;
  width: 100px;
}
#panel #right ul li #search:focus {
  width: 250px;
}
#content #sidebar {
  border: 0;
  text-transform: lowercase;
  top: 40px;
  width: 250px;
}
#content #sidebar h2 {
  color: #222;
  font-size: 25px;
  font-weight: normal;
  line-height: 25px;
  margin: 0;
  padding: 16px 18px 8px 15px;
}
#content #sidebar h2 #addListBTN {
  background: url(../../images/whitesprite.png) no-repeat 4px -413px;
  border-radius: 50%;
  height: 8px;
  padding: 4px;
  width: 8px;
}
#content #sidebar h2 #addListBTN:hover {
  background: #e2e2e2 url(../../images/whitesprite.png) no-repeat 4px -413px;
}
#content #sidebar ul li {
  color: #888;
  font-size: 15px;
  line-height: 30px;
  padding-left: 35px;
}
#content #sidebar ul li.dragHover:not(.selected) {
  background: #ecf8ff;
}
#content #sidebar ul li.selected {
  background: none;
  color: #0ad;
}
#content #sidebar ul li p {
  width: 130px;
}
#content #sidebar ul li .editIcon {
  background: url(../../images/whitesprite.png) no-repeat -1px -145px;
  height: 17px;
  left: auto;
  right: 65px;
  top: 7px;
  width: 17px;
}
#content #sidebar ul li .delete {
  background: url(../../images/whitesprite.png) no-repeat 0 -120px;
  height: 16px;
  left: auto;
  right: 45px;
  top: 9px;
  width: 18px;
}
#content #sidebar ul li .edit input {
  background: #fff;
  border: 0;
  margin-left: -5px;
  margin-right: 5px;
  outline: 0;
  padding: 3px 4px;
  width: 125px;
}
#content #sidebar ul li .edit .save {
  background: url(../../images/whitesprite.png) no-repeat 0 -198px;
  height: 16px;
  left: auto;
  right: 65px;
  top: 8px;
  width: 18px;
}
#content #sidebar ul li .count {
  right: 5px;
  width: 40px;
}
#content #tasks {
  left: 250px;
  padding: 0 15px;
  top: 40px;
}
#content #tasks .explanation {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #444;
  font-size: 14px;
  padding: 15px;
  width: 300px;
}
#content #tasks h2 {
  font-size: 25px;
  font-weight: normal;
  line-height: 25px;
  margin: 0;
  padding: 16px 18px 8px 0;
  text-align: left;
  text-transform: capitalize;
}
#content #tasks p {
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px 0 #eee;
}
#content #tasks ul {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
}
#content #tasks ul li {
  background: rgba(255, 255, 255, 0.95);
  border: 0;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 4px 0 4px 4px;
}
#content #tasks ul li:first-child {
  border-top: 1px solid #eee;
}
#content #tasks ul li:before {
  background: #eee;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}
#content #tasks ul li.low:before {
  background: #09c;
}
#content #tasks ul li.medium:before {
  background: #fb4;
}
#content #tasks ul li.important:before {
  background: #e33;
}
#content #tasks ul li.expanded {
  border-top: 1px solid #eee;
  padding-bottom: 0;
}
#content #tasks ul li.expanded + li {
  border-top: 1px solid #eee;
}
#content #tasks ul li .todotxt {
  font-size: 15px;
  line-height: 30px;
  padding: 0 10px 0 4px;
}
#content #tasks ul li .labels {
  font-size: 12px;
  padding-right: 4px;
  text-transform: capitalize;
}
#content #tasks ul li .labels span {
  background: #999;
  color: #fff;
  height: 22px;
  line-height: 22px;
  margin-left: 20px;
  padding: 0 10px;
  position: relative;
}
#content #tasks ul li .labels span:before {
  border: 11px solid transparent;
  border-right-color: #999;
  content: "";
  left: -22px;
  position: absolute;
  top: 0;
}
#content #tasks ul li .labels span.today,
#content #tasks ul li .labels span.todayLabel {
  background: #8866bb;
}
#content #tasks ul li .labels span.today:before,
#content #tasks ul li .labels span.todayLabel:before {
  border-right-color: #8866bb;
}
#content #tasks ul li .labels span.priority.low {
  background: #00aadd;
}
#content #tasks ul li .labels span.priority.low:before {
  border-right-color: #00aadd;
}
#content #tasks ul li .labels span.priority.medium {
  background: #ffbb44;
}
#content #tasks ul li .labels span.priority.medium:before {
  border-right-color: #ffbb44;
}
#content #tasks ul li .labels span.priority.important {
  background: #ee3333;
}
#content #tasks ul li .labels span.priority.important:before {
  border-right-color: #ee3333;
}
#content #tasks ul li .labels span.date,
#content #tasks ul li .labels span.dateLabel {
  background: #00aadd;
}
#content #tasks ul li .labels span.date:before,
#content #tasks ul li .labels span.dateLabel:before {
  border-right-color: #00aadd;
}
#content #tasks ul li .labels span.date.due,
#content #tasks ul li .labels span.dateLabel.due {
  background: #55bb22;
}
#content #tasks ul li .labels span.date.due:before,
#content #tasks ul li .labels span.dateLabel.due:before {
  border-right-color: #55bb22;
}
#content #tasks ul li .labels span.date.overdue,
#content #tasks ul li .labels span.dateLabel.overdue {
  background: #ee3333;
}
#content #tasks ul li .labels span.date.overdue:before,
#content #tasks ul li .labels span.dateLabel.overdue:before {
  border-right-color: #ee3333;
}
#content #tasks ul li.selected {
  background: #ccf2ff;
}
#content #tasks ul li.logged {
  background: #fff;
  color: #bbb;
}
#content #tasks ul li.placeholder {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  color: red;
}
#content #tasks ul li .hidden textarea {
  background: #fafafa url(../../images/notes.png) no-repeat 7px 7px;
  border: 0;
  border-top: 1px solid #ddd;
  color: #444;
  font-size: 13px;
  min-height: 62px;
  padding: 8px 25px 8px 30px;
}
#content #tasks ul li .checkbox {
  height: 13px;
  padding: 9px 8px 8px;
  width: 13px;
}
#content #tasks ul li .checkbox input[type=checkbox] {
  background: #fff;
  border: 1px solid #d4d4d4;
  height: 13px;
  width: 13px;
}
#content #tasks ul li .checkbox input[type=checkbox]:hover {
  border-color: #bbb;
}
#content #tasks ul li .checkbox input[type=checkbox]:checked:after {
  content: url(../../images/checkmark.png);
  left: 0;
  opacity: 0.6;
  top: -1px;
}
