/* Metro Theme Author: Michael Martin-Smucker */

// Consistent colors for the Metro theme
@red: #e33;
@orange: #fb4;
@green: #5b2;
@blue: #0ad;
@purple: #86b;

.panelbtn (@color, @img) {
    span {
        color: @color;

        &.icon {
            background-image: url(@img);
        }
    }
}

.labeltag (@bgcolor: #666) {
    background: @bgcolor;
    &:before {
        border-right-color: @bgcolor;
    }
}
body {
    font-family: "Segoe UI", "Open Sans", sans-serif;
}
#panel {
    background: #eee;
    color: #000;
    height: 60px;

    #brand {
        display: none;
    }
    nav {
        left: 0;
        ul {
            li {
                font-size: 15px;
                line-height: 20px;
                padding: 0 10px 5px;
                text-transform: lowercase;
                -webkit-transition: background 120ms linear;

                &:hover {
                    background: #fff;
                }
                span {
                    display: block;
                    text-align: center;
                    
                    &.icon {
                        background-position: 0 -6px;
                        background-repeat: no-repeat;
                        height: 36px;
                        margin: 0 auto;
                        width: 42px;
                    }
                }
                &#addBTN {
                    .panelbtn(@green, './metro/add.png');
                }
                &#editBTN {
                    .panelbtn(@blue, './metro/edit.png');
                }
                &#deleteBTN {
                    .panelbtn(@red, './metro/cancel.png');
                }
                &.disabled {
                    opacity: .15;

                    &#addBTN, &#editBTN, &#deleteBTN {
                        span {
                            color: #000;
                            &.icon {
                                background-position: 0 -48px;
                            }
                        }
                    }
                }
            }
        }
    }
    #right {
        top: 17px;

        ul {
            li {
                margin: 0 4px;

                &#syncBTN {
                    img {
                        background: url(./metro/sync.png) no-repeat 0 0;
                        width: 24px;
                    }
                    &.active img {
                        background: url(./metro/sync.png) no-repeat 0 -20px;
                    }
                    &.running img {
                        background: url(./metro/sync.png) no-repeat 0 -40px;
                    }
                }
                &#logbookBTN {
                    img {
                        background: url(./metro/logbook.png) no-repeat 0 0;
                    }
                }
                &#settingsBTN {
                    img {
                        background: url(./metro/settings.png) no-repeat 0 0;
                    }
                }
                img {
                    height: 20px;
                    padding: 0;
                    width: 20px;
                }
                .settings {
                    background: rgba(51,51,51,0.95);
                    border: 1px solid rgba(0,0,0,0.3);
                    border-radius: 5px;
                    box-shadow: 0 1px 19px rgba(0,0,0,0.35), inset 0 0 1px rgba(255,255,255,0.2);
                    margin-left: -185px;
                    top: 50px;
                    width: 300px;
                }
                #search {
                    background: #fff url(./metro/search.png) no-repeat right center;
                    background-color: rgba(255,255,255,0.9);
                    border: 0;
                    font-size: 13px;
                    line-height: 13px;
                    margin-left: 7px;
                    padding: 5px;
                    padding-right: 25px;
                    position: relative;
                    -webkit-transition: 200ms ease width;
                    width: 100px;

                    &:focus {
                        width: 250px;
                    }
                }
            }
        }
    }
}
#content {
    #sidebar {
        border: 0;
        text-transform: lowercase;
        top: 60px;
        width: 250px;

        h2 {
            color: #222;
            font-size: 25px;
            font-weight: normal;
            line-height: 25px;
            margin: 0;
            padding: 16px 18px 8px 15px;

            #addListBTN {
                background: url(../../images/whitesprite.png) no-repeat 4px -413px;
                border-radius: 50%;
                height: 8px;
                margin-top: 5px;
                padding: 4px;
                width: 8px;

                &:hover {
                    background: #e2e2e2 url(../../images/whitesprite.png) no-repeat 4px -413px;
                }
            }
        }
        ul {
            li {
                color: #888;
                font-size: 15px;
                line-height: 30px;
                padding-left: 35px;
                
                &.dragHover:not(.selected) {
                    background: #ecf8ff;
                }
                &.selected {
                    background: none;
                    color: @blue;
                }

                p {
                    width: 130px;
                }
                .editIcon {
                    background: url(../../images/whitesprite.png) no-repeat -1px -145px;
                    height: 17px;
                    left: auto;
                    right: 65px;
                    top: 7px;
                    width: 17px;
                }
                .delete {
                    background: url(../../images/whitesprite.png) no-repeat 0 -120px;
                    height: 16px;
                    left: auto;
                    right: 45px;
                    top: 9px;
                    width: 18px;
                }
                .edit {
                    input {
                        background: #fff;
                        border: 0;
                        margin-left: -5px;
                        margin-right: 5px;
                        outline: 0;
                        padding: 3px 4px;
                        width: 125px;
                    }
                    .save {
                        background: url(../../images/whitesprite.png) no-repeat 0 -198px;
                        height: 16px;
                        left: auto;
                        right: 65px;
                        top: 8px;
                        width: 18px;
                    }
                }
                .count {
                    right: 5px;
                    width: 40px;
                }
            }
        }
    }
    #tasks {
        left: 250px;
        padding: 0 15px;
        top: 60px;

        .explanation {
            background: rgba(255,255,255,0.95);
            border: 1px solid #ccc;
            color: #444;
            display: inline-block;
            left: auto;
            margin-left: 0;
            padding: 12px 16px;
            position: absolute;
            top: 60px;
            width: auto;
        }
        h2 {
            font-size: 25px;
            font-weight: normal;
            line-height: 25px;
            margin: 0;
            padding: 16px 18px 8px 0;
            text-align: left;
            text-transform: capitalize;
        }
        p {
            color: rgba(0,0,0,0.7);
        }
        ul {
            margin-top: 0;
            margin-bottom: 30px;
            padding: 0;

            li {
                background: rgba(255,255,255,0.95);
                border: 0;
                border-bottom: 1px solid #eee;
                border-right: 1px solid #eee;
                padding: 4px 0 4px 4px;

                &:first-child {
                    border-top: 1px solid #eee;
                }
                &:before {
                    background: #eee;
                    content: "";
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 4px;
                }
                &.low:before {
                    background: @blue;
                }
                &.medium:before {
                    background: @orange;
                }
                &.important:before {
                    background: @red;
                }
                &.expanded {
                    border-top: 1px solid #eee;
                    padding-bottom: 0;

                    + li {
                        border-top: 1px solid #eee;
                    }
                }
                .todotxt {
                    font-size: 15px;
                    line-height: 30px;
                    padding: 0 10px 0 4px;
                }
                .labels {
                    font-size: 12px;
                    padding-right: 4px;
                    text-transform: capitalize;

                    span {
                        background: #999;
                        color: #fff;
                        height: 22px;
                        line-height: 22px;
                        margin-left: 20px;
                        padding: 0 10px;
                        position: relative;
                        
                        &:before {
                            border: 11px solid transparent;
                            border-right-color: #999;
                            content: "";
                            left: -22px;
                            position: absolute;
                            top: 0;
                        }
                        &:after {
                            border: 2px solid #fff;
                            border-radius: 50%;
                            content: "";
                            left: -2px;
                            position: absolute;
                            top: 9px;
                        }
                        // Today Label
                        &.today, &.todayLabel {
                            .labeltag(@purple);
                        }
                        // Priority Tags
                        &.priority.low {
                            .labeltag(@blue);
                        }
                        &.priority.medium {
                            .labeltag(@orange);
                        }
                        &.priority.important {
                            .labeltag(@red);
                        }
                        // Date Tags
                        &.date, &.dateLabel {
                            .labeltag(@blue);
                        }
                        &.date.due, &.dateLabel.due {
                            .labeltag(@green);
                        }
                        &.date.overdue, &.dateLabel.overdue {
                            .labeltag(@red);
                        }
                    }
                }
                &.selected {
                    background: lighten(@blue, 50%);
                }
                &.logged {
                    background: #fff;
                    color: #bbb;
                }
                &.placeholder {
                    background: rgba(0,0,0,0.1);
                    box-shadow: inset 0 0 5px rgba(0,0,0,0.1); // what does this do?
                    color: red;
                }
                .hidden textarea {
                    background: #fafafa url(../../images/notes.png) no-repeat 7px 7px;
                    border: 0;
                    border-top: 1px solid #ddd;
                    color: #444;
                    font-size: 13px;
                    min-height: 62px;
                    padding: 8px 25px 8px 30px;
                }
                .checkbox {
                    height: 13px;
                    padding: 9px 8px 8px;
                    width: 13px;

                    input[type=checkbox] {
                        background: #fff;
                        border: 1px solid #d4d4d4;
                        height: 13px;
                        width: 13px;

                        &:hover {
                            border-color: #bbb;
                        }
                        &:checked {
                            &:after {
                                content: url(../../images/checkmark.png);
                                left: 0;
                                opacity: 0.6;
                                top: -1px;
                            }
                        }
                    }
                }
            }
        }
    }
}
#search::-webkit-input-placeholder {
	color: #555;
	-webkit-transition: 200ms ease color;
	font-size: 13px;
	line-height: 13px;
	padding: 2px;
}
